@import "tailwindcss";

@theme {
  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-barlow: var(--font-barlow);
  --font-bellefair: var(--font-bellefair);

  --color-blue-900: rgb(11, 13, 23);
  --color-blue-300: rgb(208, 214, 249);
}

body {
  @apply font-barlow;
}
